* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.order-container {
  border: 5px solid grey;
  display: flex;
}

.order-form {
  border: 5px solid grey;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-list {
  border: 2px solid grey;
  padding: 10px;
  flex: 2;
}

.order-item {
  list-style-type: none;
}

.order-detail-button {
  padding: 10px;
}

.order-detail {

}
